header {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #e5e7eb; /* neutro claro */
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #374151;
  font-weight: bold;
  transition: 0.3s;
  font-size: 20px;
}

nav a:hover {
  color: #6b7280;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6; /* neutro claro */
  color: #374151;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.topo {
  min-height: 82vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
  gap: 20px;
}

/* FOTO AUMENTADA */
.topo img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #d1d5db;
}

.topo h1 {
  font-size: 60px;
  margin: 0;
}

.topo h2 {
  margin: 0;
  font-size: 40px;
  color: #4b5563;
}

.topo p {
  max-width: 600px;
  line-height: 1.6;
  font-size: 20px;
}

/* SOBRE */

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px 20px;
  background-color: #e5e7eb;
  font-size: 25px;
}

.sobre p {
  max-width: 700px;
  line-height: 1.8;
  font-size: 20px;
}

/* HABILIDADES */

.habilidades {
  padding: 80px 20px;
  text-align: center;
  font-size: 25px;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background-color: #e5e7eb;
  padding: 20px;
  width: 220px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 10px;
}

.card p {
  text-align: left;
  line-height: 1.7;
  font-size: 15px;
}

.card:hover {
  transform: translateY(-10px);
  background-color: #d1d5db;
}

.card h3 {
  margin: 0;
}

/* PROJETOS */

.projetos {
  padding: 80px 20px;
  text-align: center;
}

.projetos h2 {
  font-size: 35px;
}

.projetos h3 {
  font-size: 26px;
  text-align: left;
}

.projetos-cards {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.projeto-card {
  background-color: #e5e7eb;
  width: 260px;
  padding: 25px;
  border-radius: 12px;
  transition: 0.3s;
}

.projeto-card:hover {
  transform: translateY(-10px);
  background-color: #d1d5db;
}

.projeto-card p {
  text-align: left;
  line-height: 1.6;
}

/* CONTATO */

.contato {
  padding: 40px 20px;
  text-align: center;
  background-color: #e5e7eb;
}

.contato h3 {
  margin-bottom: 25px;
  font-size: 25px;
}

.contato-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  font-size: 20px;
}

.contato a {
  text-decoration: none;
  color: #374151;
  font-weight: bold;
  transition: 0.3s;
}

.contato a:hover {
  color: #6b7280;
}
